<h1>Albums</h1>

<table>

  <tbody>
    <% Album.order(:created_at).reverse.each do |album| %>
      <%= content_tag :tr, class: cycle('list_line_odd', 'list_line_even') do %>
        <td>
          <%= image_tag(album.image_url, size: "300x300", class: 'list_image') %>
        </td>
        <td class='list_tracks'>
  	<dl>
    	<h2><%= album.artist %> - <%= album.name %></h2>
    	<pre>
      	<%=strip_tags(album.tracks)%>
    	</pre>
  	</dl>
	</td>
        <td class='list_actions'>
        <% if session[:profile_id] == 16 %>
  	  <%= link_to 'Show', album %>
  	  <%= link_to 'Edit', edit_album_path(album) %>
  	  <%= link_to 'Destroy', album, method: :delete, 
      	  data: { confirm: 'Are you sure?' } %>
        <% end %>
	</td>
      <% end %>
    <% end %>
  </tbody>
</table>


