<h1>Listing albums</h1>

<table>
<!--
  <thead>
    <tr>
      <th>Name</th>
      <th>Artist</th>
      <th>Tracks</th>
      <th>Year</th>
      <th>Image url</th>
      <th colspan="3"></th>
    </tr>
  </thead>
-->

  <tbody>
    <% @albums.each do |album| %>
      <%= content_tag :tr, class: cycle('list_line_odd', 'list_line_even') do %>
  <td>
    <%= image_tag(album.image_url, class: 'list_image') %>
  </td>
        
	<td class='list_tracks'>
	  <dl>
	    <dt><%= album.artist %> - <%= album.name %></dt>
	    <dd>
	      <%= truncate strip_tags(album.tracks), length: 240 %>
	    </dd>
	  </dl>
	</td>

        <td class='list_actions'>
	  <%= link_to 'Show', album %><br/>
	  <%= link_to 'Edit', edit_album_path(album) %><br/>
	  <%= link_to 'Destroy', album, method: :delete, 
	      data: { confirm: 'Are you sure?' } %>
	</td>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Album', new_album_path %>
