<h1>Albums</h1>
@albums = Album.order(:created_at)
<%= link_to 'New Album', new_album_path %>

<table>

  <tbody>
    <% @albums.each do |album| %>
      <%= content_tag :tr, class: cycle('list_line_odd', 'list_line_even') do %>
        <td>
          <%= image_tag(album.image_url, size: "400x400", class: 'list_image') %>
        </td>
        <td class='list_tracks'>
  	<dl>
    	<h2><%= album.artist %> - <%= album.name %></h2>
    	<pre>
      	<%=strip_tags(album.tracks)%>
    	</pre>
  	</dl>
	</td>
        <td class='list_actions'>
  	<%= link_to 'Show', album %>
  	<%= link_to 'Edit', edit_album_path(album) %>
  	<%= link_to 'Destroy', album, method: :delete, 
      	data: { confirm: 'Are you sure?' } %>
	</td>
      <% end %>
    <% end %>
  </tbody>
</table>


