<p id="notice"><%= notice %></p>

<h1><%= link_to 'Back to Catalogue', href = "/" %></h1>
<h1><%= @album.name %></h1>

<h2><%= @album.artist %>, <%= @album.year %></h2>


<table>

  <tbody>
  <td>
    <%= image_tag(@album.image_url, size: "400x400", class: 'list_image') %>
  </td>

<td class='list_tracks'>
	  <dl>
	    <pre>
	      <h3>Tracks:</h3>
	      <%= @album.tracks %>
	    </pre>
	  </dl>
	</td>
</table>
