<p id="notice"><%= notice %></p>

<h1><%= @line_item.album.name %></h1>
<h2><%= @line_item.album.artist %>, <%= @line_item.album.year %></h2>
<% if @line_item.rating > 0 %>
  <% if @line_item.profile_id == session[:profile_id] %>
    <h3>Your Rating: <%= @line_item.rating.round(1) %></h3>
  <% else %>
    <h3><%= @line_item.profile.name %>'s Rating: <%= @line_item.rating.round(1) %></h3>
  <% end %>
<% end %>

<% if @line_item.profile_id == session[:profile_id] %>
  <p class = links>
    <%= link_to 'Change Rating', edit_line_item_path(@line_item) %> | 
    <%= link_to 'Remove From Profile', @line_item, method: :delete %>
  </p>
<% end %>

<table>
<td>
<%= image_tag(@line_item.album.image_url, size: "400x400", class: 'list_image') %>
</td>

<td class='list_tracks'>
	  <dl>
	    <pre>
	      <h3>Tracks:</h3>
	      <%= @line_item.album.tracks %>
	    </pre>
	  </dl>
	</td>
</table>
